src/main/mule/fhir-r4-explanationofbenefit-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="fhir-r4-explanationofbenefit-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="fhir-r4-explanationofbenefit-api-config" api="resource::17473fef-b0b5-40f2-b1a0-72bee4bed13c:fhir-r4-explanationofbenefit-api:1.0.0:raml:zip:fhir-r4-explanationofbenefit-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="fhir-r4-explanationofbenefit-api-main">
        <http:listener config-ref="fhir-r4-explanationofbenefit-api-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="fhir-set-common-variables" doc:id="1f7d1ee6-64c3-4422-a688-611eccb7e098" name="fhir-set-common-variables"/>
		<apikit:router config-ref="fhir-r4-explanationofbenefit-api-config" />
        <flow-ref doc:name="transform-output-to-accept-header" doc:id="e039c882-2c30-432b-9569-d3407c36acd0" name="transform-output-to-accept-header"/>
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="fhir-r4-explanationofbenefit-api-console">
        <http:listener config-ref="fhir-r4-explanationofbenefit-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="fhir-r4-explanationofbenefit-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\ExplanationOfBenefit\(id):application\fhir+json:fhir-r4-explanationofbenefit-api-config">
		<flow-ref doc:name="put\(Resource)\(id):application\fhir+json" doc:id="05cc754b-7c09-4125-a414-d77cc02c26dc" name="put\(Resource)\(id):application\fhir+json"/>
    </flow>
    <flow name="put:\ExplanationOfBenefit\(id):application\fhir+xml:fhir-r4-explanationofbenefit-api-config">
		<flow-ref doc:name="xml_to_json" doc:id="055f4626-c119-446e-b2ee-24aff2aac5a9" name="xml_to_json"/>
		<flow-ref doc:name="put:\ExplanationOfBenefit\(id):application\fhir+json:fhir-r4-explanationofbenefit-api-config" doc:id="9d68be20-9c4d-478f-a201-f7c504ce82d2" name="put:\ExplanationOfBenefit\(id):application\fhir+json:fhir-r4-explanationofbenefit-api-config"/>
    </flow>
    <flow name="delete:\ExplanationOfBenefit\(id):fhir-r4-explanationofbenefit-api-config">
		<flow-ref doc:name="delete\(Resource)\(id)" doc:id="d1f32d32-23c7-49a8-98b2-396e47682cda" name="delete\(Resource)\(id)"/>
    </flow>
    <flow name="get:\ExplanationOfBenefit:fhir-r4-explanationofbenefit-api-config">
		<flow-ref doc:name="get\(Resource)" doc:id="78788806-df17-4c46-af6b-b6b927364330" name="get\(Resource)"/>
    </flow>
    <flow name="get:\ExplanationOfBenefit\(id)\_history:fhir-r4-explanationofbenefit-api-config">
		<flow-ref doc:name="get\(Resource)\(id)\_history" doc:id="b419e260-3b57-4923-a488-96460e01ca29" name="get\(Resource)\(id)\_history"/>
    </flow>
    <flow name="get:\ExplanationOfBenefit\(id):fhir-r4-explanationofbenefit-api-config">
		<flow-ref doc:name="get\(Resource)\(id)" doc:id="fe365001-f26c-4b18-b446-912ead0cd841" name="get\(Resource)\(id)"/>
    </flow>
	<flow name="get:\ExplanationOfBenefit\(id)\_history\(vid):fhir-r4-explanationofbenefit-api-config">
		<flow-ref doc:name="get\(Resource)\(id)\_history\(vid)" doc:id="6ab31b6e-db66-49bf-8fe8-da3be36390ce" name="get\(Resource)\(id)\_history\(vid)"/>
    </flow>
    <flow name="post:\ExplanationOfBenefit:application\fhir+json:fhir-r4-explanationofbenefit-api-config">
		<flow-ref doc:name="post\(Resource):application\fhir+json" doc:id="fcd04db1-bee8-4a99-8527-574738987154" name="post\(Resource):application\fhir+json"/>
    </flow>
    <flow name="post:\ExplanationOfBenefit:application\fhir+xml:fhir-r4-explanationofbenefit-api-config">
		<flow-ref doc:name="xml_to_json" doc:id="c1afa893-3487-4fe9-97c6-f269b0186dd1" name="xml_to_json"/>
		<flow-ref doc:name="post:\ExplanationOfBenefit:application\fhir+json:fhir-r4-explanationofbenefit-api-config" doc:id="872d909a-153a-41cd-98f5-cb4d0a0ad691" name="post:\ExplanationOfBenefit:application\fhir+json:fhir-r4-explanationofbenefit-api-config"/>
    </flow>
	<sub-flow name="xml_to_json" doc:id="303f1cfa-9b74-45fb-91a0-eeb0f5e06383" >
		<ee:transform doc:name="convert XML to JSON" doc:id="25679272-e226-4269-b03c-004cd476686d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

import * from dw::fhir::xmlToJson
---
fhirXMLToJson(payload, [
	"identifier", 
	"coding", 
	"careTeam",
	"insurance",
	"item",
	"careTeamSequence",
	"adjudication",
	"total"
])]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
